<div class="card" style="background-color: #F78888; padding-top: 20px; border: none;">
    <h4 class="card-title">Framework: {{ database.framework }}</h4>
    <div class="card-body text-center">
        <h5 class="card-text">Name: {{ database.name }}</h5>
        <h6 class="card-text">Collections:</h6>
        {% for collection in database.collections %}
            <span class="badge" style='background-color: #ECECEC'>{{ collection }}</span>
        {% endfor %}

        <br>
        <button type="button" style="margin-top: 10px" class="btn btn-dark" data-toggle="modal" data-target="#edit-database">Edit Database</button>

        {% include "partials/edit_database_modal.html" %}

        <div style="margin-top: 10px">
            <form action="/builder/{{ user_id }}/delete-database/{{ database._id }}" method="POST">
                <button type="submit" class="btn btn-danger">Delete Database</button>
            </form>
        </div>
    </div>
  </div>
