<div class="card bg-warning" style="padding-top: 10px">
    <h4 class="card-title">URL: {{ html_page.url }}</h4>
    <div class="card-body text-center">
        <h6 class="card-text">Filename: {{ html_page.name }}</h6>
        <h6 class="card-text">HTTP Verb: {{ html_page.http_verb }}</h6>
        <h6 class="card-text">Action: {{ html_page.action }}</h6>
        <p class="card-text">{{ html_page.description }}</p>

        <form action="/builder/{{ user_id }}/delete-html-page/{{ html_page._id }}">
            <button type="submit" class="btn btn-danger">Delete Page</button>
        </form>
    </div>
  </div>
