<div class="card" style="background-color: #90CCF4">
    <div class="card-body text-center">
        <h3 class="card-title" style="color: #38393b"><b>{{ project.name }}</b></h3><hr/>
        <p class="card-text" style="color: #38393b"><b>Time Created</b><br> {{ project.time_created }}</p>
        <p class="card-text" style="color: #38393b"><b>Last modified</b><br> {{ project.last_modified }}</p><hr/>
        <form action="/builder/{{ user_id }}/{{ project._id }}">
            <button type="submit" class="btn btn-dark">Work on This!</button>
        </form>
        <form action="/builder/delete/{{ user_id }}/{{ project._id }}">
            <button type="submit" class="btn btn-danger" style="margin-top: 10px">Delete Project</button>
        </form>
    </div>
</div>
