.builder-header{
    padding-top: 20px;
    padding-bottom: 13px;
}

.html-snippet{
    padding-top: 20px;
}

.database-snippet{
    padding-top: 20px;
}

.route-snippet{
    padding-top: 20px;
}

.route-snippets{
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 1fr;
}

.add-html-button{
    padding-top: 20px;
    padding-bottom: 20px;
}

.add-database-button{
    padding-top: 20px;
    padding-bottom: 20px;
}

.add-route-button{
    padding-top: 20px;
    padding-bottom: 20px;
}

.new-project-page{
    padding-top: 25%;
}

.project-grid{
    margin-top: 30px;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 40px;
}
