.builder-header{
    padding-top: 20px;
    padding-bottom: 13px;
}

.html-snippet{
    padding-top: 20px;
}

.add-html-button{
    padding-top: 20px;
    padding-bottom: 20px;
}

.new-project-page{
    height: 10000px;
    width: 100%;
    background-color: #F4976C
}
